@import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');
body{

    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color:black;
}
h3{
    position: relative;
    text-align: left;
    color: white;
}
h1{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
}

.padding-table-columns td {
    text-align: center;
    border:5px solid black;

}
#next
{
float: right;}
.table
{
    width: 98%;
    margin: auto;
}
.arrow
{
high: 60px;
width: 60px;}
